.body-ad-local {
  background-color: #fafafa;
  padding: 2rem;
  overflow-y: auto;
  height: 100%;
  width: 100%;
}

.body-ad-local-sm {
  width: 100% !important;
  padding-left: 0.1rem !important;
  padding-right: 0.1rem;
  padding-top: 02rem;
  overflow-y: auto;
  height: calc(100vh - 68px);
}
